@font-face {
  font-family: 'Title Font';
  src: url("../font/Walk-Around-the-Block.ttf"); }
html {
  width: 100%;
  height: 100%; }

body {
  font-size: 20px;
  font-family: Amatic SC, cursive;
  letter-spacing: 1px;
  display: flex;
  flex-flow: column;
  width: 90%;
  height: 100%;
  background-image: url("../img/bg-img.jpg");
  margin: 0 auto;
  text-align: center; }

header {
  flex: 0 1 auto; }

h1 {
  font-family: Title Font, Arial, sans;
  font-size: 75px;
  margin: 10px 0 0; }

h3 {
  font-size: 30px;
  margin: 0 10px; }

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
  font-size: 20px;
  font-family: Amatic SC, cursive;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 8px;
  text-align: center; }

button {
  border: 0;
  border-radius: 4px;
  width: 25%;
  cursor: pointer;
  background-color: #75b9be;
  color: #fff;
  font-size: 20px;
  font-family: Amatic SC, cursive;
  letter-spacing: 1px;
  margin: 10px; }
  button:hover {
    background-color: #fff;
    box-shadow: inset 0 0 10px #75b9be;
    color: #75b9be; }

main {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex: 1 1 auto; }
  main > section {
    width: 50%; }
    main > section > section {
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 100%;
      height: 47.5%;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px; }
    @media screen and (max-width: 600px) {
      main > section {
        width: 100%; } }
  @media screen and (max-width: 600px) {
    main {
      flex-direction: column; } }

p {
  margin: 0; }

span {
  font-size: 24px;
  font-weight: bold; }

div {
  width: 100%; }

#scoreboard {
  width: 75%;
  background-color: #fff;
  box-shadow: inset 0 0 10px #75b9be;
  color: #75b9be;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 10px 0;
  border-radius: 4px;
  margin: 0 auto; }
  #scoreboard > p {
    margin: 0 10px;
    padding: 0 5px; }

#alphabet {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

.alphabet, .clicked {
  border: 0;
  border-radius: 4px;
  width: 0;
  cursor: pointer;
  background-color: #75b9be;
  color: #fff;
  font-size: 20px;
  font-family: Amatic SC, cursive;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 50px;
  font-weight: bold;
  margin: 2.5px; }
  .alphabet:hover, .clicked:hover {
    background-color: #fff;
    box-shadow: inset 0 0 10px 0 #75b9be;
    color: #75b9be; }
  .alphabet p, .clicked p {
    align-self: center; }

#wordField {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 20px; }

.letter-holder {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: 40px;
  height: 80px;
  align-items: center;
  margin: 5px; }

.letter {
  font-size: 60px;
  margin: 0; }

.dash {
  width: 40px;
  height: 2px;
  background-color: #000;
  border-radius: 5px; }

.instructions {
  width: 100%;
  font-size: 22px;
  margin-bottom: 10px; }

footer {
  display: flex;
  justify-content: center;
  flex: 0 1 40px; }
  footer p {
    align-self: center;
    font-size: 16px; }

#hangman {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.clicked {
  background-color: #fff;
  box-shadow: inset 0 0 10px #75b9be;
  color: #75b9be; }

.player1 {
  background-color: #fff;
  box-shadow: inset 0 0 10px #f00;
  color: #f00;
  font-size: 20px;
  padding: 0 5px;
  border-radius: 4px; }

.player2 {
  background-color: #fff;
  box-shadow: inset 0 0 10px #00f;
  color: #00f;
  font-size: 20px;
  padding: 0 5px;
  border-radius: 4px; }

/*# sourceMappingURL=style.css.map */
