$border-color: #ccc;
$font-title: Title Font, Arial, sans;
$font-family: Amatic SC, cursive;
$center-text: center;
$btn-bg: rgba(117, 185, 190, 1);
$btn-font-clr: #fff;
$bg-color: #f19c79;
$section-bg-color: rgba(255, 255, 255, .30);
$bg-img: url('../img/bg-img.jpg');
$executioner-color: #f00;
$hangee-color: #00f;
