html {
    width: 100%;
    height: 100%;
}

body, button, input {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    text-align: center;
    letter-spacing: .03125em;
}

h1 {
    margin: .75em 0 .5em 0;
}

#gameBoard {
    width: 90%;
    margin: 0 auto;
}

#beginGame {
    margin: 0 auto;
    width: 80%;
}

button, input {
    font-size: .75em;
    border-radius: 5px;
    margin: 25px;
}

input {
    background-color: rgba(0, 0, 0, .2);
    width: 200px;
    height: 1em;
}

p.instructions {
    margin: 0 auto;
    width: 75%;
}

span {
    padding: .125em .375em;
    margin: .125em;
    background-color: black;
    color: white;
    cursor: pointer;
}


#wordField {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letterHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1.25em;
    height: 2.375em;
    padding: .125em;
    margin: .25em;
}

.letter {
    font-size: 2em;
    margin: 0;
}

.dash {
    background-color: rgba(0, 0, 0, 0.7);
    width: 1.25em;
    height: .1em;
    margin: 0;
    border-radius: .375em;
}
