body {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    text-align: center;
}

h1 {
    margin: 0;
}

span {
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#wordField {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letterHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    padding: 10px;
}

.letter {
    color: transparent;
    font-size: 2em;
    margin: 0;
}

.dash {
    background-color: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 2px;
    margin: 0;
    border-radius: 10px;
}
