body {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    text-align: center;
}

h1 {
    margin: 0;
}

#wordField {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letterHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.25em;
    padding: .25em;
}

.letter {
    color: transparent;
    font-size: 2em;
    margin: 0;
}

.dash {
    background-color: rgba(0, 0, 0, 0.7);
    width: 1em;
    height: .1em;
    margin: 0;
    border-radius: .25em;
}
